body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url('https://msutexas.edu/admissions/_assets/images/campus-outside.jpg');
  filter: blur(1px);
  -webkit-filter: blur(1px);
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-others {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: goldenrod;
  font-weight: bold;
  text-align: center;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 80%;
  padding: 20px;
  transform: translate(-50%, -50%);
}
.hr1{
   color: white; 
}
#map-canvas{
    width:720px;
    height:400px;
    border: 6px solid #056af7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
